#root {
  margin: 0 auto;
  min-height: -webkit-fill-available;
  min-height: 100vh;
  display: grid;
  place-items: center;

  text-align: center;
}

.read-the-docs {
  color: #888;
}

.board {
  color: orange;
  font-size: 0.75rem;
  max-height: 90vh;
}

@media (min-width: 768px) {
  .board {
    font-size: 1.25rem;
  }
}


.orientation-warning {
  display: none;
}
@media (orientation: portrait) {
  .orientation-warning {
    display: block;
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    right: 0;
    padding: 0.5rem;
    text-align: center;
  }
}