

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #fb693d;
  text-decoration: inherit;
}
a:hover {
  color: #f97545;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

}

  .blink {
    animation: blinker 2s linear infinite;
  }
  
  @keyframes blinker {
    0% { opacity: 1; }
    79% { opacity: 1; }
    80% { opacity: 0; }
   100% { opacity: 0; }
  }

  .time-font {
    color: orange;

    font-family: 'London Underground', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }